bench
jasonize
jsonize
core 
JasonAsm
testsBuilder
testsDumper
testsFiles
testsLarge
testsLookup
testsParser
testsSlice
testsType
*.o
*.orig
*.rej
rapidjson
.deps
Makefile
autom4te.cache
config.h
config.log
config.status
libjason.a
stamp-h1
config.h.in~
examples/usebuilder
examples/usebuilder2
examples/useparser
examples/useslicer
examples/usedumper

googletest/
CMakeCache.txt
CMakeFiles/
build/
cmake_install.cmake
install_manifest.txt
