tests
bench
core 
JasonAsm
*.o
*.orig
*.rej
googletest
rapidjson
.deps
Makefile
autom4te.cache
config.h
config.log
config.status
libjason.a
stamp-h1
config.h.in~
jsonSample/fail*.json
jsonSample/pass*.json
jsonSample/sample.json
examples/usebuilder
examples/usebuilder2
examples/useparser
examples/useslicer
examples/usedumper
