branches:
  only:
    - master

language: cpp
compiler: 
  - g++
  - clang

sudo: false

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.9
    - clang

install:
- if [ "$CXX" = "g++" ]; then export CXX="g++-4.9"; fi

script: "autoreconf -v && ./configure && make love && ./tests"

